body {
    font-family: Helvetica;
}

#clientTitle {
    background-color:white;
    float: left;
    margin-top: -6px;
    margin-left: 50px;
    padding: 0px 20px;
    font-size: 28px;
    font-weight: bold;
}
#identity {
    width: 1200px;
    margin-top: 10px;
    text-align: right;
    padding-right: 4px;
    background-color:green;
    color:white;
}
#nick {
    font-weight: bold;
    padding-right: 20px;
}
#quit {
    text-decoration: underline;
    cursor: pointer;
}
#gameInfo {
    margin-top: 5px;
    margin-bottom: 5px;
}

#system label {
    color: grey;
}
#systemLine {
    background-color: #d0d0d0;
    margin-top: 36px;
    display: inline;
}

.button {
   background-color: rgba(227,149,13,1);
   background-image: -webkit-linear-gradient(top, rgba(245,159,10,1) 0%,rgba(200,200,200,1) 100%);
   background-image:    -moz-linear-gradient(top, rgba(245,159,10,1) 0%,rgba(200,200,200,1) 100%);
   background-image:     -ms-linear-gradient(top, rgba(245,159,10,1) 0%,rgba(200,200,200,1) 100%);
   background-image:      -o-linear-gradient(top, rgba(245,159,10,1) 0%,rgba(200,200,200,1) 100%);
   background-image:         linear-gradient(top, rgba(245,159,10,1) 0%,rgba(200,200,200,1) 100%);
   -webkit-box-shadow: 3px -2px 7px 2px rgba(120,22,120,1);
      -moz-box-shadow: 3px -2px 7px 2px rgba(120,22,120,1);
           box-shadow: 3px -2px 7px 2px rgba(120,22,120,1);
   border: solid 3px rgba(255,162,0,1);
   -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
           border-radius: 10px;
   width: 74px;
   margin: 3px;
   display: inline-block;
   font-size: 17px;
   color: rgba(0,0,0,1);
   text-shadow: 0px 0px 0px rgba(0,0,0,1)
}
.button:hover {
   background-image: -webkit-linear-gradient(top, rgba(245,159,10,1) 63%,rgba(200,200,200,1) 100%);
   background-image:    -moz-linear-gradient(top, rgba(245,159,10,1) 63%,rgba(200,200,200,1) 100%);
   background-image:     -ms-linear-gradient(top, rgba(245,159,10,1) 63%,rgba(200,200,200,1) 100%);
   background-image:      -o-linear-gradient(top, rgba(245,159,10,1) 63%,rgba(200,200,200,1) 100%);
   background-image:         linear-gradient(top, rgba(245,159,10,1) 63%,rgba(200,200,200,1) 100%);
   border: solid 3px rgba(255,140,0,1);
}
.button:active {
   background-image: -webkit-linear-gradient(top, rgba(247,177,0,1) 54%,rgba(224,71,16,1) 97%);
   background-image:    -moz-linear-gradient(top, rgba(247,177,0,1) 54%,rgba(224,71,16,1) 97%);
   background-image:     -ms-linear-gradient(top, rgba(247,177,0,1) 54%,rgba(224,71,16,1) 97%);
   background-image:      -o-linear-gradient(top, rgba(247,177,0,1) 54%,rgba(224,71,16,1) 97%);
   background-image:         linear-gradient(top, rgba(247,177,0,1) 54%,rgba(224,71,16,1) 97%);
   -webkit-box-shadow: 2px 0px 2px 1px rgba(150,57,150,1);
      -moz-box-shadow: 2px 0px 2px 1px rgba(150,57,150,1);
           box-shadow: 2px 0px 2px 1px rgba(150,57,150,1);
   border: solid 3px rgba(255,132,0,1);
}

.toggle {
    display: inline;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e8e9ea));
    background: -moz-linear-gradient(center top, #ffffff 0%, #e8e9ea 100%);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-shadow: 1px 1px 0px #ffffff;
    padding: 7px 8px;
    border-color: #c9cdd1;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    font-family: Helvetica;
    font-size: 12px;
    line-height: 12px;
    color: #455868;
    font-weight: bold;
}
.toggle:hover {
    -webkit-box-shadow: 0px 0px 3px 1px #c9cdd1;
    -moz-box-shadow: 0px 0px 3px 1px #c9cdd1;
    box-shadow: 0px 0px 3px 1px #c9cdd1;
}
.toggle:active {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e9ea), color-stop(100%,#ffffff));
    background: -moz-linear-gradient(center top, #e8e9ea 0%, #ffffff 100%);
    -webkit-box-shadow: 0px 0px 3px 1px #c9cdd1;
    -moz-box-shadow: 0px 0px 3px 1px #c9cdd1;
    box-shadow: 0px 0px 3px 1px #c9cdd1;
}

.red {background-color:red; color:white; padding: 0px 6px;}
.green {background-color:green; color:white; padding: 0px 6px;}
.orange {background-color:#FF8040; color:blue; padding: 0px 6px;}

.inviteDialog {
    position: absolute;
    top: 90px;
    left: 275px;
    background-color: lightgrey;
   -webkit-box-shadow: 15px 15px 45px 17px rgba(244,244,244,1);
      -moz-box-shadow: 15px 15px 45px 17px rgba(244,244,244,1);
           box-shadow: 15px 15px 45px 17px rgba(244,244,244,1);
    width: 170px;
    height: 170px;
}

.resignDialog {
    position: absolute;
    top: 90px;
    left: 275px;
    background-color: lightgrey;
   -webkit-box-shadow: 15px 15px 45px 17px rgba(244,244,244,1);
      -moz-box-shadow: 15px 15px 45px 17px rgba(244,244,244,1);
           box-shadow: 15px 15px 45px 17px rgba(244,244,244,1);
    width: 170px;
    height: 170px;
}

.matchInfo {
    height: 33px;
    line-height: 33px;
    font-size: 33px;
}

.oneLine {
    display: inline-block;
    text-align: right;
}

.segment {
    display: inline-block;
    float: left;
}

.sLeft {
    width: 340px;
}

.iName {
}

.clock {
    background-image: url(resources/clock-stub.png);
    width: 81px;
    height: 33px;
    float: left;
    margin-right: 10px;
}

.sRight {
    position: relative;
}

.iScore {
    width: 40px;
    text-align: right;
}

.iPips {
    font-size: 15px;
    line-height: 15px;
    text-align: right;
}

.pipRed {
    color: red;
}

.pipGreen {
    color: green;
}
